<bluenorth-header></bluenorth-header>
<div class="terms-background">
<div class="terms-container">
  <div class="terms-wrapper">
    <div class="terms-content">
      <h1>END-USER LICENSE AGREEMENT</h1>
      <h5 class="sub-title">PLEASE READ</h5>

      <h3>PLATFORM AND PRODUCT USAGE TERMS AND END-USER LICENSE AGREEMENT</h3>

      <h3>PLEASE READ THIS DOCUMENT CAREFULLY BEFORE AGREEING TO OUR TERMS OR USING OUR PLATFORMS
        OR PRODUCTS. THIS AGREEMENT LICENSES USE OF OUR PRODUCTS TO YOU AND CONTAINS WARRANTY
        AND LIABILITY DISCLAIMERS. BY USING OUR PLATFORMS OR PRODUCTS, YOU AGREE TO BE BOUND BY
        THE TERMS OF THIS DOCUMENT. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, THEN YOU
        SHOULD NOT USE OUR PLATFORMS OR PRODUCTS. </h3>

      <p>
        The person agreeing to and accepting this Agreement warrants that he/she is duly authorised to agree to the
        terms of this Agreement.</p>

      <p>This Agreement is entered into by and between Blue North Sustainability Proprietary Limited, a company
        incorporated and existing under the laws of the Republic of South Africa (“Blue North”, "we", "us" and "our")
        and you. </p>

      <ol>
        <li>
          <h3>ABOUT OUR TERMS AND CONDITIONS AND DEFINED TERMS</h3>
          <ol>
            <li>These terms together with our <a [routerLink]="['/terms-and-conditions']">Privacy Policy</a> (collectively, the "Agreement") will form
              a written contract between you and Blue North and will govern our relationship and
              your use of our Platforms and Products. </li>
            <li>Some of products provided on our Platforms may contain additional terms, which may
              be relevant to the specific product you use or subscribe to. By using those products,
              you agree to be bound by such additional rules and/or terms. All such other terms are
              incorporated into this Agreement. Where there is a conflict between such other terms
              and this Agreement, this Agreement will apply. </li>
            <li>“Platforms” means all our websites, mobile sites, social media platforms or any other
              technology or mechanism you may use to interact with us. </li>
            <li>“Resources” means downloadable documentation, tools and/or resources that we
              make available to you as supporting resources to our Software. </li>
            <li>“Products” means both our Software and our Resources.</li>
            <li>“Software” means our software, including our online web applications, tools, software
              based services, mobile applications or any other technology that you selected and that
              we may license to you. </li>
          </ol>
        </li>
        <li>
          <h3>SUBSCRIPTION TO USE PRODUCTS</h3>
          <ol>
            <li>
             <p>In order to access and use the Products you must –</p>
              <ol>
                <li>register and subscribe to use the Products, where you will create, or we will
                  allocate you, a username, password or other log-in ("User ID"); </li>
                <li>login using your User ID; </li>
                <li>pay the relevant subscription fees, where applicable; and </li>
                <li>comply with the terms of the Agreement. </li>
              </ol>
            </li>
            <li>
              <p>Your User ID is personal to you. You - </p>
              <ol>
                <li>must keep your User ID confidential and not disclose it to any third party or allow
                  any third party to access or use the Products with your User ID;</li>
                <li>must inform us promptly if a third party gains access to your User ID; </li>
                <li>are responsible for all payments, use of, or activity relating to the Products
                  under your User ID; </li>
                <li>will not do multiple log-ins simultaneously (log-in at any one point in time more
                  than once using the same User ID); </li>
                <li>will not circumvent our User ID authentication procedures or systems; and </li>
                <li>ARE LIABLE FOR ANY DAMAGE, LOSS OR COSTS SUSTAINED BY YOU, US OR BY
                  ANY THIRD PARTY HOWSOEVER ARISING AS A RESULT OF ANY ACTIONS BY YOU
                  OR ANY THIRD PARTY USING YOUR USER ID. </li>
              </ol>
            </li>
            <li>While a User ID is personal to you, we own it. You may accordingly not sell or otherwise
              transfer any entitlements thereto to a User ID. </li>
            <li>You will also not retain any entitlements to your User ID once this Agreement ends.</li>
            <li>You will sign out from your account at the end of each session. </li>
            <li>A single subscription allows you access to our Products from a single site. In other
              words, you may not use a single subscription to access our Products from various
              sites/locations. Multi-site subscriptions are available on request. Please contact us at
              <a href="mailto:info@bluenorth.co.za">info@bluenorth.co.za</a> to enquire about multi-site subscriptions. </li>
          </ol>
        </li>
        <li>
          <h3>GRANT OF LICENSE</h3>
          <p>Subject to payment of the applicable subscription fee and you abiding by the terms of this
            Agreement, we grant you a limited, personal, revocable, non-exclusive, non-sublicensable, nontransferable
            license use the Products, strictly in accordance with the terms of this Agreement. </p>
        </li>
        <li>
          <h3>USE RESTRICTIONS</h3>
          <ol>
            <li>Any use of the Platforms and Products not permitted by this Agreement is prohibited
              and, without limiting the generality of the aforegoing, you will not permit others to:
              <ol>
                <li>license, sub-license, sell, rent, lease, assign, distribute, transmit, host,
                  outsource, disclose or otherwise commercially exploit the Platforms and
                  Products or make the Platforms and Products available to any third party; </li>
                <li>copy, modify, reverse compile, reverse engineer or extract source codes from
                  the Platforms and Products, except to the extent that we may not prohibit you
                  from doing so under applicable laws or regulations or you have our prior written
                  consent to do so. Where applicable laws or regulations entitle you to reverse
                  compile or extract source codes from the Platforms and Products, you will first
                  contact us to request the information you need;</li>
                <li>remove, alter or obscure any proprietary notice (including any notice of
                  copyright or trademark) of Blue North or its affiliates, partners, suppliers or the
                  licensors of the Platforms and Products; or</li>
                <li>use the Platforms and Products in breach of any applicable law or regulation. </li>
              </ol>
            </li>
            <li>You may not make copies of the Resources except as may be necessary for backup and
              archival purposes.</li>
          </ol>
        </li>
        <li>
          <h3>INTELLECTUAL PROPERTY </h3>
          <ol>
            <li>Except as expressly stated otherwise, this Agreement does not in any way grant, assign,
              transfer or license any of either party's intellectual property rights to the other party. </li>
            <li>You acknowledge that any and all intellectual property rights subsisting in or used in
              connection with the Platforms and Products, including all documentation, updates,
              upgrades, enhancements, new developments and improvements are and shall remain
              the sole property of Blue North. You shall not, during or at any time after the expiry or
              termination of this Agreement, in any way question or dispute the ownership by Blue
              North thereof. </li>
            <li>In the event that new inventions, designs or processes evolve in performance of or as
              a result of this Agreement, you acknowledge that such inventions, designs or processes
              shall be the property of Blue North, unless otherwise agreed in writing by Blue North. </li>
            <li>You will retain ownership of any original content or data which you may upload,
              transmit or store when using our Platforms and Products. </li>
            <li>We will own all compilations, collective works or derivative works created by us which
              may incorporate your content. </li>
          </ol>
        </li>
        <li>
          <h3>UPDATES TO PLATFORMS AND PRODUCTS</h3>
          <ol>
            <li>We may from time to time provide enhancements or improvements to the
              features/functionality of the Platforms and Products, which may include patches, bug
              fixes, updates, upgrades and other modifications ("Updates"). </li>
            <li>Such Updates may occur automatically or manually. We do not guarantee that we will
              make any Updates available for any of the Platforms and Products, or that such
              Updates will continue to support your device or system. </li>
            <li>Updates may modify or delete certain features and/or functionalities of the Platforms
              and Products. You agree that we have no obligation to (i) provide any Updates, or (ii)
              continue to provide or enable any particular features and/or functionalities of the
              Platforms and Products to you.</li>
            <li>You further agree that all Updates will be (i) deemed to constitute an integral part of
              the Platforms and Products, and (ii) subject to the Agreement and conditions of this
              Agreement. </li>
            <li>No Service maintenance is provided under this Agreement, except for Updates. </li>
          </ol>
        </li>
        <li>
          <h3>THIRD-PARTY SERVICES</h3>
          <ol>
            <li>The Platforms and Products may display, include or make available third-party content
              (including data, information, software and other products or services) or provide links
              to third-party websites or services ("Third-Party Services"). </li>
            <li>You acknowledge and agree that, we do not control or verify Third-Party Services and
              we shall not be responsible for any Third-Party Services, including their accuracy,
              completeness, timeliness, validity, copyright compliance, legality, decency, quality or
              any other aspect thereof. We do not assume and shall not have any liability or
              responsibility to you or any other person or entity for any Third-Party Services. </li>
            <li>Third-Party Services and links thereto are provided solely as a convenience to you and
              you access and use them entirely at your own risk and subject to such third parties'
              terms and conditions. </li>
            <li>When you acquire services or products from a third party through any of our Platforms
              or Products, you understand and agree that -
              <ol>
                <li>we are not a party to the contract between you and the third party; </li>
                <li>we are under no obligation to monitor the third party service used by you; </li>
                <li>the third party will be responsible for all obligations under the contract including
                  (without limitation) warranties or guarantees. We will not be liable to you for
                  any reason under the contract with the third party;</li>
                <li>you will evaluate the product or service and the applicable terms and conditions
                  before acquiring the product or service. </li>
              </ol>
            </li>
            <li>If those third parties change, suspend or stop providing such services or products, we
              may similarly change, suspend or stop providing it to you. We may nevertheless
              endeavour to provide such a service in another way or by using another supplier or
              service provider. </li>
            <li>We do not provide any technical support for any Third-Party Services. </li>
            <li>We may use software that is subject to "open source" licenses (the "Open Source
              Software"). Where we use such Open Source Software there may be provisions in the
              Open Source Software's license that expressly override this Agreement, in which case
              such provisions shall prevail to the extent of any conflict with this Agreement. </li>
          </ol>
        </li>
        <li>
          <h3>PRIVACY POLICY </h3>
          <p>We may process information about you in accordance with our privacy policy, which is available at
            <a [routerLink]="['/terms-and-conditions']">www.bluenorth/privacy_policy.co.za</a> and which forms part of this Agreement. </p>
        </li>
        <li>
          <h3>TERM AND TERMINATION </h3>
          <ol>
            <li>Your subscription or license is an annual subscription/license. It will therefore
              continue for a period of 12 (twelve) months (“Subscription Period”) and will automatically
              terminate at the end of the Subscription Period. You need to renew
              your subscription/license at the end of the Subscription Period. </li>
            <li>Blue North may, in its sole discretion, at any time and for any or no reason, suspend or
              terminate this Agreement with or without prior notice.</li>
            <li>This Agreement will terminate immediately, without prior notice from Blue North, in
              the event that you fail to comply with any provision of this Agreement. You may also
              terminate this Agreement by deleting the Platforms and Products and all copies
              thereof from your devices. </li>
            <li>Upon termination of this Agreement, you shall cease all use of the Platforms and
              Products and delete all copies of the Platforms and Products from your devices. </li>
          </ol>
        </li>
        <li>
          <h3>PAYMENTS AND REFUNDS </h3>
          <ol>
            <li>In consideration for the license granted in terms of this Agreement, you shall pay the
              annual subscription fees in advance.</li>
            <li>Additional fees are payable for each client system or geographical site upon which you
              wish to use the Products. Additional fees may also be payable for certain Resources. </li>
            <li>All charges hereinbefore referred to are exclusive of and net of any taxes, duties or
              such other additional sums including, but not limited to, excise tax, import or other
              duties, and whether levied in respect of this Agreement or the use of the Software.</li>
            <li>SUBJECT TO MANDATORY APPLICABLE LAWS AND REGULATIONS OR AS OTHERWISE
              SPECIFIED BY US FOR A PARTICULAR ITEM OR SOFTWARE, IN NO CIRCUMSTANCES
              WILL WE BE REQUIRED TO PROVIDE A REFUND FOR ANY PAYMENTS MADE BY YOU TO
              US IN RELATION TO ANY SERVICES OR SOFTWARE (WHETHER USED OR UNUSED). </li>
            <li>We may process payments from you via a third party service. You agree to comply with
              that relevant third party's terms and conditions in relation to the payment processing
              service. </li>
            <li>We reserve the right to change subscription fees for any of our Products at any time. We will
              notify you of any changes if the regular fee for your subscription changes from what was
              stated at the time of your initial order. We will not change your subscription fees during any
              Subscription Period. </li>
          </ol>
        </li>
        <li>
          <h3>BLUE NORTH’S LIABILITY</h3>
          <ol>
            <li>BLUE NORTH SHALL NOT BE LIABLE TO YOU FOR ANY LOSS OR DAMAGE WHATSOEVER
              OR HOWSOEVER CAUSED, ARISING DIRECTLY OR INDIRECTLY IN CONNECTION WITH
              THIS AGREEMENT, THE PLATFORMS OR PRODUCTS, ITS USE OR OTHERWISE, EXCEPT
              TO THE EXTENT TO WHICH IT IS UNLAWFUL TO EXCLUDE SUCH LIABILITY UNDER THE
              APPLICABLE LAW. </li>
            <li>NOTWITHSTANDING THE GENERALITY OF CLAUSE 11.1 ABOVE, BLUE NORTH
              EXPRESSLY EXCLUDES LIABILITY FOR ANY INDIRECT, SPECIAL, INCIDENTAL OR
              CONSEQUENTIAL LOSS OR DAMAGE WHICH MAY ARISE IN RESPECT OF THE
              PLATFORMS AND PRODUCTS, ITS USE OR IN RESPECT OF EQUIPMENT OR PROPERTY,
              OR FOR LOSS OF PROFIT, BUSINESS, REVENUE, GOODWILL OR ANTICIPATED SAVINGS.</li>
            <li>IN THE EVENT THAT ANY EXCLUSION CONTAINED IN THIS AGREEMENT SHALL BE HELD
              TO BE INVALID FOR ANY REASON AND BLUE NORTH BECOMES LIABLE FOR LOSS OR
              DAMAGE THAT MAY LAWFULLY BE LIMITED, SUCH LIABILITY SHALL BE LIMITED TO THE
              AMOUNT PAID BY YOU FOR THE PRODUCTS UNDER THIS AGREEMENT.</li>
            <li>YOU ACKNOWLEDGE THAT PLATFORMS AND PRODUCTS IN GENERAL ARE NOT ERRORFREE
              AND AGREE THAT THE EXISTENCE OF SUCH ERRORS SHALL NOT CONSTITUTE A
              BREACH OF THIS AGREEMENT. </li>
            <li>IN THE EVENT THAT YOU DISCOVER A MATERIAL ERROR WHICH SUBSTANTIALLY
              AFFECTS YOUR USE OF THE PRODUCTS AND NOTIFIES BLUE NORTH OF THE ERROR
              WITHIN 90 (NINETY) DAYS FROM THE SUBSCRIPTION DATE (THE "WARRANTY
              PERIOD"), BLUE NORTH SHALL, AT ITS SOLE OPTION, EITHER REFUND THE FEE OR USE
              ALL REASONABLE ENDEAVOURS TO CORRECT, BY PATCH OR UPDATE (AT ITS OPTION),
              THAT PART OF THE PRODUCTS WHICH DOES NOT SO COMPLY, PROVIDED THAT SUCH
              NON-COMPLIANCE HAS NOT BEEN CAUSED BY ANY MODIFICATION, VARIATION OR
              ADDITION TO THE PRODUCTS NOT PERFORMED BY BLUE NORTH OR CAUSED BY YOUR
              INCORRECT USE, ABUSE OR CORRUPTION OF THE PRODUCTS OR BY USE OF THE
              PRODUCTS WITH OTHER PRODUCTS OR SOFTWARE OR ON EQUIPMENT WITH WHICH
              IT IS INCOMPATIBLE. </li>
            <li>TO THE EXTENT PERMITTED BY APPLICABLE LAW, BLUE NORTH DISCLAIMS ALL OTHER
              WARRANTIES WITH RESPECT TO THE PLATFORMS AND PRODUCTS, EITHER EXPRESS
              OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF
              MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE. </li>
            <li>ALTHOUGH BLUE NORTH DOES NOT WARRANT THAT THE PLATFORMS AND PRODUCTS
              SUPPLIED HEREUNDER SHALL BE FREE FROM ALL KNOWN VIRUSES, IT HAS USED
              COMMERCIALLY REASONABLE EFFORTS TO CHECK FOR THE MOST COMMONLY
              KNOWN VIRUSES PRIOR, BUT YOU ARE SOLELY RESPONSIBLE FOR VIRUS SCANNING
              THE PRODUCTS.</li>
            <li>WHILE WE ENDEAVOUR TO ENSURE THAT THE PLATFORMS AND PRODUCTS ARE
              NORMALLY AVAILABLE 24 HOURS A DAY, WE SHALL NOT BE LIABLE IF, FOR ANY
              REASON, THE PLATFORMS AND PRODUCTS ARE UNAVAILABLE AT ANY TIME OR FOR
              ANY PERIOD. </li>
            <li>ACCESS TO THE PLATFORMS AND PRODUCTS MAY BE SUSPENDED TEMPORARILY AND
              WITHOUT NOTICE IN THE CASE OF SYSTEM FAILURE, MAINTENANCE OR REPAIR OR
              FOR REASONS BEYOND OUR CONTROL. </li>
            <li>YOU AGREE TO INDEMNIFY AND HOLD BLUE NORTH AND ITS AFFILIATES, OFFICERS,
              EMPLOYEES, AGENTS, PARTNERS AND LICENSORS (IF ANY) HARMLESS FROM ANY
              CLAIM OR DEMAND, INCLUDING REASONABLE ATTORNEYS' FEES, DUE TO OR ARISING
              OUT OF YOUR: (A) USE OF THE PLATFORMS AND PRODUCTS; (B) VIOLATION OF THIS
              AGREEMENT OR ANY LAW OR REGULATION; OR (C) VIOLATION OF ANY RIGHT OF A
              THIRD PARTY. </li>
          </ol>
        </li>
        <li>
          <h3>DISPUTE RESOLUTION</h3>
          <ol>
            <li>You agree that any dispute between us shall be referred to arbitration and finally
              resolved in accordance with the rules of the Arbitration Foundation of Southern Africa.
              Such arbitration shall be held either in Cape Town or Johannesburg, and conducted in
              the English language before one arbitrator appointed in accordance with the said rules.
              Any award will be final and not subject to appeal. This agreement to arbitrate shall be
              enforceable in and judgement upon any award may be entered in any court of any
              country having appropriate jurisdiction. A dispute shall be deemed to have arisen
              when either party notifies the other party in writing to that effect. </li>
            <li>The arbitrator shall have the power to give default judgement if any party fails to make
              submissions on due date and/or fails to appear at the arbitration. </li>
            <li>The provisions set out above shall not prevent either party from approaching any court
              of competent jurisdiction to obtain interim or other relief in cases of urgency. </li>
            <li>You must send any notice or legal process relating to the Agreement to the following
              address by registered post: 25 Longifolia Street, Paradyskloof, Stellenbosch, 7613. </li>
            <li>We will send any notice or legal process relating to the Agreement to the address you
              provided when you registered to use our Software, as amended by you from time to
              time. It is your responsibility to update your address whenever it changes.</li>
          </ol>
        </li>
        <li>
          <h3>AMENDMENTS TO THIS AGREEMENT</h3>
          <ol>
            <li>We reserve the right, in our sole discretion, to modify or replace this Agreement at any
              time. If a revision is material we will provide at least 30 days' notice prior to any new
              Agreement taking effect. What constitutes a material change will be determined at our
              sole discretion.</li>
            <li>BY CONTINUING TO ACCESS OR USE OUR PLATFORMS AND PRODUCTS AFTER ANY
              REVISIONS BECOME EFFECTIVE, YOU AGREE TO BE BOUND BY THE REVISED
              AGREEMENT. IF YOU DO NOT AGREE TO THE NEW AGREEMENT, YOU ARE NO LONGER
              AUTHORIZED TO USE THE PLATFORMS AND PRODUCTS. </li>
          </ol>
        </li>
        <li>
          <h3>GENERAL TERMS</h3>
          <ol>
            <li>This Agreement is the sole record of the agreement between you and us, with neither
              party being bound by any express, tacit or implied representation or warranty not
              recorded in this Agreement.</li>
            <li>No agreement shall be concluded or amendment to this Agreement effected merely
              by you sending a data message to us or using our Platforms. </li>
            <li>We may cede, transfer or assign its rights and obligations under the Agreement to a
              third party without your consent. </li>
            <li>You may not cede, transfer or assign your rights or obligations under the Agreement
              to a third party without our written consent. </li>
            <li>If any provision of the Agreement is or becomes unenforceable for any reason, then
              such provision will be treated as if it had not been included in the Agreement to the
              extent that it remains unenforceable and shall not affect the validity of the remaining
              provisions of the Agreement. </li>
            <li>All provisions of this Agreement must be treated as being qualified, to the extent
              necessary, to ensure that the relevant provisions of any applicable laws which may not
              be overridden or set aside by agreement are complied with. </li>
            <li>The Agreement are governed by and interpreted in accordance with the laws of the
              Republic of South Africa without giving effect to any principles of conflict of law, with
              you irrevocably consenting to the exclusive jurisdiction of the courts of South Africa, in
              respect of all proceedings arising out of or pursuant to the Agreement. </li>
            <li>Except as provided herein, the failure to exercise a right or to require performance of
              an obligation under this Agreement shall not effect a party's ability to exercise such
              right or require such performance at any time thereafter nor shall be the waiver of a
              breach constitute waiver of any subsequent breach. </li>
            <li>If you have any questions about this Agreement, please contact us via email at
              <a href="mailto:info@bluenorth.co.za">info@bluenorth.co.za</a></li>
          </ol>
        </li>
        <li>
          <h3>MORE ABOUT US </h3>
          <ol>
            <li>Blue North Sustainability Proprietary Limited (registration number 2011/140188/07) is
              a company registered in the Republic of South Africa. </li>
            <li>A list of officer bearers can be found at <a href="http://bluenorth.co.za/about-us/">http://bluenorth.co.za/about-us/.</a> </li>
            <li>You can contact us by sending an email to <a href="mailto:info@bluenorth.co.za">info@bluenorth.co.za</a> or by registered post
              to: 25 Longifolia Street, Paradyskloof, Stellenbosch, 7613. </li>
          </ol>
        </li>
      </ol>
      <dx-button
        text="BACK TO REGISTRATION"
        type="success"
        [routerLink]="['/registration']"
      >
      </dx-button>
    </div>
    <div class="terms-right-block">
      <span class="terms-close" [routerLink]="['/registration']">x</span>
    </div>
  </div>
</div>
</div>
