<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- CHANGE !!! USE Port Number if problems with firewall exist -->
		<!--<add name="ConnectionString" connectionString="Server=tcp:hertex.database.windows.net,1433;Initial Catalog=BlueNorth;Persist Security Info=False;User ID=hertex_admin;Password=R0b1nH00d;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework"/>-->
        <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=BlueNorth_Import" />
    </connectionStrings>
	<system.diagnostics>
		<switches>
			<!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
			<add name="eXpressAppFramework" value="3"/>
			<!--<add name="XPO" value="5" />-->
		</switches>
	</system.diagnostics>
	<appSettings>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
