@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.data-grid-wrapper {
  background-color: #fff;
  padding: 15px;
}
.chart-bar-cell {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.chart-cell {
  display: grid;
  align-items: center;
  height: 100px;
}
.cell-item {
  //border: 1px solid silver;
}

.data-grid-header {
  margin-left: 5px;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
.data-grid-score-header {
  display: grid;
  height: 30px;
  padding-left: 5px;
  position: relative;
  grid-template-columns: auto auto auto;
  color: #fff;
  background-color: #628BC1;
}
.score-header {
  position: absolute;
  top: -30px;
}

.data-grid-container {
  /deep/ .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    width: 100%;
    padding: 0 !important;
    height: 40px;
    background-color: #6BCDFA;
    border: none;
    margin-left: 5px !important;
  }
  /deep/ .dx-datagrid-content .dx-datagrid-table .dx-row > td {
    color: #585f68;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
    overflow: visible;
  }
  /deep/ .dx-datagrid-content .dx-datagrid-table .dx-row:nth-child(even) {
    background-color: whitesmoke;
  }
  /deep/ .dx-datagrid-content .dx-datagrid-table .dx-row {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

.sort-container {
  grid-gap: 15px;
  font-size: 12px;
  display: grid;
  align-items: center;
  grid-template-columns: 100px 200px;
  dx-select-box {
    width: 200px;
  }
}

.reporting-title-container h5 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  color: #666666;
  font-size: 15px;
  margin: 24px 0;
  &:after {
    display: block;
    content: '';
    height: 5px;
    border-radius: 1px;
    background: rgba(234, 224, 222, 0.2);
  }
}

.title-for-selector {
  font-size: 12px;
}

.left-content {
  width: 80%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto auto;;
  justify-content: left;
  align-items: center;
  margin-bottom: 15px;
  span {
    /* margin-bottom: 15px;*/
  }
  .dx-field-value {
    width: 100%;
  }
}


::ng-deep #chart {
  height: 300px;
  width: 500px;
}

.popup-reporting {
  display: flex;
  margin-bottom: 100px;
}

.second-data-grid {
  margin-top: 30px;
}

/deep/.indicator-reporting-popup {
  height: 100%;
  .close-btn {
    cursor: pointer;
  }
  .dx-overlay-content {
    padding: 35px 30px 0 35px;
    max-height: 90vh;
    overflow-y: scroll;
  }
  .title_template {
    padding: 0 0 15px;
    border-bottom: 5px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
  }
  .popup-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    color: #69cdfd;
    font-size: 21px;
    display: block;
    margin-bottom: 10px;
  }
  .popup-subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #999999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: block;
  }
  .dx-popup-content {
    padding: 30px 25px 50px 25px;
    height: 100% !important;
  }
  #chart {
    .dxc-val-elements {
      text {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
        font-weight: 700 !important;
        font-size: 11px !important;
        fill: #999 !important;
      }
    }
    .dxc-arg-elements {
      text {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
        font-weight: 400 !important;
        font-size: 11px !important;
        fill: #999 !important;
      }
    }
  }
  .popup-reporting-text-content {
    margin-left: 25px;
    .popup-reporting-text-content-title {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      color: #538fd0;
      font-size: 15px;
      font-weight: 700;
      display: block;
      margin-bottom: 25px;
    }
    .popup-reporting-text-content-info {
      display: block;
      margin-bottom: 20px;
      color: #999999;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .dx-datagrid-rowsview {
    tbody {
      tr {
        border-bottom: 1px solid #EEEEEE;
        &:first-child {
          background-color: #EEEEEE;
          margin-bottom: 10px;
          border-bottom: none;
          td {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: 700;
            color: #666666;
            font-size: 13px;
            padding: 10px 5px;
          }
        }
        td {
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-weight: 400;
          color: #999999;
          font-size: 11px;
          border: none;
          padding: 10px 5px;
          text-align: left;
        }
      }
    }
  }
}

.grid-edit {
  /deep/ .dx-button-text {
    font-size: 12px;
  }
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.tasks-selector-container {
  display: flex;
  background-color: white;
  padding: 5px;
  margin-top: 8px;
  font-size: 12px;
  span {
    padding-top: 10px;
  }
  span, dx-select-box {
    font-size: 12px;
    margin-right: 25px;
  }
}
/deep/ .dx-texteditor-input {
   padding: 4px 9px 4px;
   min-height: 27px;
 }

/deep/ .dx-dropdowneditor-button {
  padding: 0;
  .dx-dropdowneditor-icon {
    background-color: #6fc0db !important;
    width: 34px;
    border-radius: 0;
    &:hover {
      background-color: #6fc0db;
    }
    &:before {
      content: '';
      background-image: url(../../../../assets/down-arrow.svg);
      width: 20px;
      height: 20px;
      background-size: cover;
    }
  }
  .dx-dropdowneditor-button .dx-dropdowneditor-icon:hover {
    background-color: #6fc0db!important;
  }
}

/deep/ .dx-texteditor-buttons-container {
  background-color: #6fc0db!important;
}

.download-column {
  a {
    cursor: pointer;
  }
}

.uploaded-item {
  margin-top: 40px;
  span {
    margin-right: 30px;

  }
}

.cost-column {
  text-align: left;
}

/deep/ .dx-fileuploader-input-wrapper .dx-button {
  margin-left: -10px;
}


#gridContainer /deep/ .dx-toolbar-after {
    .dx-button {
      @include button-variant($main-button-font-color, $main-button-background-color, $main-button-border-color, 150px);
      font-size: 14px;
    }
    .dx-button-content {
      i:before {
        content: 'Export to Excel'
      }
    }
    .dx-datagrid-export-button .dx-icon-export-excel-button {
      color: $main-button-font-color;
      font-family: inherit;
      display: block;
      padding-left: 10px
    }
  }

