<bluenorth-header></bluenorth-header>
<div class="forgot-background">
<div class="forgot-container">
  <form class="forgot-form" (submit)="postForgotPassword($event)">
    <h4>FORGOT YOUR PASSWORD?</h4>
    <span class="login-registration">Enter your email address below and we'll get you back on track.</span>
    <dx-form id="form"
      labelLocation="right"
      [formData]="forgotPassword"
      [readOnly]="false"
      [showColonAfterLabel]="false"
      [showValidationSummary]="true"
      validationGroup="customerData">
      <dxi-item dataField="email"
        [editorOptions]="{ placeholder: 'YOUR EMAIL ADDRESS' }">
        <dxi-validation-rule
          type="required"
          message="Emai is required">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="pattern"
          [pattern]="emailPattern"
          message="Enter valid Email">
        </dxi-validation-rule>
      </dxi-item>
    </dx-form>
    <br/>
    <dx-button
      text="REQUEST RESET LINK"
      type="success"
      validationGroup="customerData"
      [useSubmitBehavior]="true">
    </dx-button>
    <a class="login-registration notes-position" [routerLink]="['/login']">Back to sign in</a>
  </form>
</div>
</div>
