@import "../../../styles/variables";
@import "../../../styles/mixins";

.forgot-background {
  background: url("../../../assets/login-background.jpg");
  background-size: cover;
  width: 100%;
  height: calc(100vh - 0px);
}

.forgot-container {
  @include form-container();
  grid-template-columns: minmax(300px, 34%);

  h4 {
    color: $title-color;
    margin-bottom: 20px;
  }
  /deep/ form {
    @include form-style();
    display: grid;
  }
  .forgot-form {
    padding-top: 44px;
  }

  dx-form {
    margin-top: 12px;
  }

  .dx-overlay-content .dx-toast-success .dx-toast-content .dx-resizable {
    width: 50px;
  }

  /deep/ dx-button {
    @include button-variant($main-button-font-color, $main-button-background-color, $main-button-border-color, 194px);
    justify-self: right;
    margin-right: 20px;
    margin-bottom: 12px;
    height: 33px;
    font-weight: normal;
  }

  .login-registration {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .notes-position {
    justify-self: right;
    margin-right: 20px;
  }

}

@media screen and (max-width: 768px) {
  .forgot-container {
    width: 100% !important;
    & form {
      min-width: inherit;
    }
  }
}

