@import "../../styles/variables";
@import "../../styles/mixins";

  .user-profile-header {
     overflow: hidden;
     position: fixed;
     width: calc(100% - 242px);
     z-index: 10;
    /deep/ dx-button {
     @include button-variant($second-button-font-color, $second-button-background-color, $second-button-border-color, 150px);
      height: 40px;
      margin-bottom: 10px;
      float: right;
      &:hover {
        @include button-variant($main-button-font-color, $main-button-background-color, $main-button-border-color, 150px);
      }
    }
  }
  @media screen and (max-width: 768px) {
    .registration-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .registration-container form {
      padding: 20px;
    }
  }

.wrapper {
  //max-width: 1440px;
  margin: 0 20px;
  display: grid;
  grid-gap: 15px;
}

.user-profile {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #262F44;
  a {
    cursor: pointer;
  }
  .user-name {
    margin-top: 15px;
  }

  .material-icons {
    margin-top: 20px;
    font-size: 50px;
    color: #54647D;
  }
  .user-profile-name {
    width: 80%;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block;
  }
  .to-profile {
    color: #fff!important;
    margin-top: 15px;
    cursor: pointer;
  }

  .user-profile-last-name {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    white-space: pre;
  }
  .user-profile-logout {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    display: block;
  }
  p, a {
    display: block;
    font-size: 12px;
    color: #fff;
  }
  a {
    color: #7798B1;
    text-decoration: underline;
  }
}
.sidebar {
  width: 200px;
  background-color: #F3F3F3;
  padding: 0 !important;
}

.user-profile-sidebar {
   background-color: #262F44;
  /deep/ dx-tree-view{
  .dx-treeview-node {
      padding-left: 0 !important;
      background-color: #f9f9f9;
      text-align: left;
      color: #D8CFCB;
      padding-left: 15px;
      border-top: 1px solid #D8CFCB;
      .dx-treeview .dx-treeview-item .dx-icon{
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        display: block;
      }
      .dx-treeview-node-is-leaf {
        background-color: #f9f9f9;
        .dx-state-focused {
          background-color: #ffffff!important;
        }
      }
    }
  }
  .profile-navigation {
    list-style-type: none;
    color: #D4CBCB;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0;
    cursor: pointer;
    .profile-navigation-item {
      line-height: 35px;
      padding-left: 15px;
      background-color: #262F44;
      font-size: 12px;
      border-top: 1px solid #D8CFCB;
      color: #fff;
      transition: all .25s linear;
      &:hover {
        color: #000;
        background-color: #fff;
      }
      &.active {
        color: #000;
        background-color: #fff;
      }
      i {
        float: right;
        line-height: 35px;
        color: #C6C6CB;
      }
    }
  }
}

.user-profile-header {
  .user-profile-title, .material-icons {
    color: #3282B9!important;
  }
  background-color: #ffffff;
  padding: 15px 15px 0;
  margin-bottom: 5px;
  p, span {
    font-size: 12px;
  }
 }
@media screen and (min-width: 768px) {
  /* no grid support? */
  .sidebar {
   // margin-top: 70px!important;
    float: left;
    position: fixed;
    width: 200px!important;
    min-height: 100vh;
  }

  .content {
    //margin-top: 70px!important;
    grid-column-start: 2;
    float: right;
    //min-width: calc(100vw - 200px);
    width: 79.7872%;

  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 200px auto;
  }

  .header, .footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
    position: fixed;
    z-index: 1000;
  }
}
/*
.wrapper > * {
  !*background-color: #444;
   color: #fff;*!
  !* font-size: 150%;
   !* needed for the floated layout*!
  margin-bottom: 10px;
}*/

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }

  li .dx-treeview-node{
    padding-left: 0!important;
  }
}
/deep/ .user-profile-organisation-container, /deep/ .user-profile-container, /deep/ .units-container {
  margin-top: 83px;
}
